@if (viewItems().length) {
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        @if (journalId()) {
          <app-source-basket-actions [idJnl]="journalId()"></app-source-basket-actions>
        }

      </div>

      @for (issue of viewItems(); track $index) {
        <div class="col-12 col-lg-4 mt-3 mb-2">
          <div class="issue w-100" (click)="onClickItem(issue)" style="cursor: pointer">
            <div class="issue-name">{{ acronym() }}</div>
            <div class="issue-nr">{{ issue.vol }} {{ issue.nr }} </div>
            <div class="issue-place">{{ issue.place }}</div>
            <div class="issue-year">{{ issue.year }}</div>
            <div class="issue-works">{{ issue.totalWorks }} W</div>
          </div>
        </div>
      }
    </div>
  </div>
} @else {
  <div class="container">
    <div class="col-12 col-lg-4 issue-col">
      <div class="row">
        <p class="mb-0 issue-empty-message">Sem edicoes disponiveis na variavel issues.</p>
      </div>
    </div>
  </div>
}
