<section class="v-wrap py-0" aria-labelledby="v-title">
  <div class="container">

      @if (loading()) {
        <p class="mb-0">Carregando dados...</p>
      } @else if (error()) {
        <p class="v-error mb-0">{{ error() }}</p>
      } @else {

        <app-breadcrumbs></app-breadcrumbs>

        <p class="mb-3"><strong>Classe:</strong> {{ classe() }}</p>

        @if (isPerson()) {
          <app-author-gadget
            class="mb-4 d-block"
            [name]="authorName()"
            [nameAbnt]="authorNameAbnt()"
            [authorId]="authorId()"
            [metrics]="authorMetrics()"
            [chartPoints]="chartYearsBars()"
            [worksGroups]="worksByType()"
            [dataJour]="dataJour()"
            [dataTag]="dataTag()"
            [photoUrl]="photoUrl()"
            [authorLinks]="authorLinks()"
              [coauthors]="coauthorsList()"
              [networkData]="collaborationNetwork()"
            ></app-author-gadget>
        } @else {
          @switch (publicationView()) {
            @case ('enancib') {
              <app-view-enancib class="mb-4 d-block" [data]="response()"></app-view-enancib>
            }
            @case ('event') {
              <app-view-event class="mb-4 d-block" [data]="response()"></app-view-event>
            }
            @default {
              <app-view-journal class="mb-4 d-block" [data]="response()"></app-view-journal>
            }
          }
        }
      }
    </div>
</section>
