@if (visibleKeywords) {
  <div class="article-keywords">
    <div class="keywords-group keywords-group--inline">
      <span class="keywords-language">{{ keywordsIntro(visibleKeywords.language) }}:</span>
      <div class="keywords-list">
        @for (keyword of visibleKeywords.keywords; track trackByKeyword($index, keyword)) {
          @if (keyword.link) {
            <a class="keyword-badge keyword-badge--link" [href]="keyword.link">{{ keyword.term }}</a>
          } @else {
            <span class="keyword-badge">{{ keyword.term }}</span>
          }
        }
      </div>
    </div>
  </div>
}
