@if (visibleKeywords) {
  <div class="article-keywords">
    <div class="keywords-group">
      <h4 class="keywords-language">{{ visibleKeywords.languageLabel }}</h4>
      <div class="keywords-list">
        @for (keyword of visibleKeywords.keywords; track trackByKeyword($index, keyword)) {
          @if (keyword.link) {
            <a class="keyword-badge keyword-badge--link" [href]="keyword.link">{{ keyword.term }}</a>
          } @else {
            <span class="keyword-badge">{{ keyword.term }}</span>
          }
        }
      </div>
    </div>
  </div>
}

{{ subject | json }} => {{ abstractLanguage }}
